<h2><%= $h2_header %></h2>


<p align="right"><input name="login" type="button" value="Login" onclick="window.location.href='/login'" /></p>

<h3>results</h3>

<% @compact_discs.each do |cd| %>
   <table>
   <% if !cd.picture.empty? %>
      <tr>
        <td><img src="<%= cd.picture%>" width="100" height="100" /></td>
      </tr>
    <% end %>


    <tr>
      
      <td><%= cd.title %></td>
    </tr>
    <tr>
     
     <td><%= cd.artist %></td>
    </tr>
    <tr>
      
      <td><%= cd.released %></td>
    </tr>
    <tr>
      
      <td><%= cd.record_company %></td>
    </tr>
    <tr>
      
      <td><%= cd.genre %></td>
    </tr>
    <br><hr><br>
</table>
<% end %>
<p><a href ="/" >back</a></p>
