<table>
  <tr>
    <td>
      <h3>results:</h3>
    </td>
  </tr>
</table>

<% @search_results.each do |cd| %>
   <table>
   <% if !cd.picture.empty? %>
      <tr>
        <td><img src="<%= cd.picture%>" width="90" height="90" /></td>
      </tr>
    <% end %>
    <tr>
      <td><%= cd.title %></td>
    </tr>
    <tr>
     <td>
       <% @artist = cd.artist %>
       <a href="/bio/<%= @artist  %>"><%= cd.artist %></a>
     </td>
    </tr>
    <tr>
      <td><%= cd.released %></td>
    </tr>
    <tr>
      <td><%= cd.record_company %></td>
    </tr>
    <tr>
      <td><%= cd.genre %></td>
    </tr>
    <tr>
      <td>
        <form name="destroy" method="post" action="/delete/<%= cd.id %>">
          <input name="delete" type="submit" value="delete" />
        </form>
      </td>
    </tr>
    <br><hr><br>
</table>
<% end %>
